html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 62.5%;
}
body{
    margin: 0 ;
    padding: 0 ;
    font-family: 'Nunito', sans-serif;
    background-color: #201F1F;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.event{
    margin-top: 6% !important;
}
.col-sm-12{
    padding: 1.5rem;
    text-align: center;
}
.event .row .col-md-7 h2 {
    text-align: center;
    margin-top: -0.5rem;
    font-size: 4rem;
    color: #FF7070;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}
.event-details{
    margin: 0 auto;
    text-align: left;
    background-color: transparent;
}
.event-venue, .event-date, .event-price{
    margin: 1.5rem 0rem;
    display: flex;
    white-space: nowrap;
    color: #ffffffcc;
    font-size: 2rem;
    font-weight: 400;
    opacity: 1;
}
.event-name{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #FF7070;
}
.event-response{
    padding: 0;
    display: flex;
}
.event-image{
    height: 50vh;
}
.event-image  img{
    width: 80%;
    height: auto;
    margin-top: 2rem;
}
.icon{
    font-size: 2rem;
    color: #FF7070;
    opacity: 0.8;
}
.event-response{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}
.btn-event-item{
    border: none;
    width: 40%;
    margin-top: 2%;
    padding: 1rem 1.5rem;
    color: #fff !important;
    background-color: #FF7070;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif !important;
    font-size: 1.5rem;
}

.col-md-7{
    text-align: center;
}
.event-description{
    color: gray;
    font-size: 2rem;
    text-align: justify;
    background-color: transparent;
}
.event-type{
    margin: 5% 0;
    padding: 20px;
    border: 2px solid gray;
}
.main-navbar{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 70px;
    background-color: #201F1F;
}
.navbar-right{
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}
.nav-item{
    display: inline-block;
    color: #ff7070;
    font-size: 2rem;
}
.nav-item:nth-child(1){
    margin-right: 30px;
}
.navigation__button {
    height: 7rem;
    width: 7rem;
    top: 6rem;
    right: 125rem;
    z-index: 2000 ;
    text-align: center;
    cursor: pointer; 
    top: 0;
    left: 0;
    position: absolute;   
    margin-left: 1%;
    padding: 0;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  position: fixed;
  top: 6.5rem;
  right: 125.5rem;
  background-image: radial-gradient(black, rgb(39, 38, 38));
  z-index: 1000;
  opacity: 0.81;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); 
  visibility: hidden;
} 
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; 
}
.navigation__item {
  margin: 1rem; 
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #FF7070;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all .4s; 
}
.navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; 
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #FF7070;
  transform: translateX(1rem); 
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem; 
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #FF7070;
  display: inline-block;
  transition: all .2s; 
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0; 
}
.navigation__icon::before {
  top: -0.8rem; 
}
.navigation__icon::after {
  top: 0.8rem; 
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem; 
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem; 
}
.navigation__button.open .navigation__icon {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.navigation__button.open .navigation__icon::before {
    top: 0;
    transform: rotate(45deg) translate(35px, -35px);
}
.navigation__button.open .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg) translate(35px, 35px);
}
.navigation__background--active{
    visibility: visible;
    transform: scale(80);
}
.navigation__nav--active{
    opacity: 1;
    width: 100%;
}
.navigation__icon--active{
    background-color: transparent;
}
.main-navbar.scrolled{
    transition: box-shadow linear 500ms;
}
/* ----------------------Search Bar----------------------- */
.search-bar {
    height: auto;
    width: auto;
    box-sizing: border-box;
}
.search-bar input {
    height: 35px;
    width: 35px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-out;
    padding: 20px 20px;
    color: #fff !important;
}
.search-bar input::placeholder {
    color: transparent; 
}
.search-bar input:invalid {
    box-shadow: none; 
}
.search-bar input:focus, .search-bar input:valid {
    width: 250px;
    border: 2px solid #ff7070;
    outline: none;
    cursor: auto;
    background-color: transparent;
    color: #000; 
}
.search-bar input:focus::placeholder, .search-bar input:valid::placeholder {
    color: #999; 
}
.search-bar input:focus + .search-icon, .search-bar input:valid + .search-icon {
    z-index: 0;
    border-color: #ff7070;
    right: 150px; 
}
.search-bar input:focus + .search-icon:after, .search-bar input:valid + .search-icon:after {
    background-color: #ff7070; 
}
.search-icon { 
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #ff7070;
    position: absolute;
    right: 150px;
    top: 22px;
    z-index: -1; 
}
.search-icon:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 13px;
    transform: rotate(45deg);
    height: 2px;
    width: 10px;
    background-color: #ff7070;
    border-radius: 10px; 
}

ion-icon{
    margin-bottom: -.3rem;
}

@keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
}
@media(max-width: 1200px){
    .nav-item{
        text-align: center;
    }
    .search-box{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 62em){
    .event-response{
        flex-direction: column;
    }
    .event-response button{
        width: 100%;
        margin-bottom: 1rem;
    }
    .event{
        margin-top: 8% !important;
    }
}

@media only screen and (max-width: 37.5em){
    .event-details{
        padding: 0 3rem;
    }
}

@media only screen and (max-width: 48.125em){
    .event-image{
        margin-bottom: 30%;
        margin-top: 10%;
    }
}